<li class="nav-item dropdown">
  <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="media align-items-center">
      <span class="avatar avatar-sm rounded-circle">
        <%= image_tag "theme/team-4.jpg", class: "navbar-brand-img", alt: "..." %>
      </span>
      <div class="media-body  ml-2  d-none d-lg-block">
        <span class="mb-0 text-sm  font-weight-bold">John Snow</span>
      </div>
    </div>
  </a>
  <div class="dropdown-menu  dropdown-menu-right ">
    <div class="dropdown-header noti-title">
      <h6 class="text-overflow m-0">Welcome!</h6>
    </div>
    <a href="#!" class="dropdown-item">
      <i class="ni ni-single-02"></i>
      <span>My profile</span>
    </a>
    <a href="#!" class="dropdown-item">
      <i class="ni ni-settings-gear-65"></i>
      <span>Settings</span>
    </a>
    <a href="#!" class="dropdown-item">
      <i class="ni ni-calendar-grid-58"></i>
      <span>Activity</span>
    </a>
    <a href="#!" class="dropdown-item">
      <i class="ni ni-support-16"></i>
      <span>Support</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="<%= destroy_user_session_path %>", data-method="delete" class="dropdown-item">
      <i class="ni ni-user-run"></i>
      <span>Logout</span>
    </a>
  </div>
</li>
