<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>There was an error saving the <%= resource.class.name.downcase %>:</strong>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
